html{
    scroll-behavior: smooth;
}
body.clock {
    /* background-color: cornflowerblue; */
    background-color: white;
    color: black;
}
form.clock {
    float: right;
    text-align: right;
}

input.clock {
    font-size: 12px;
    width: 160px;
    font-family: monospace;
    text-align: center;
    border: 1px dashed #7f7f7f;
}
nav {
    width: 120%;
    height: 24px;
    background-color: dimgray;
    padding-top: 0%;
    box-sizing: border-box;
}
ul {
    display: flex;
}
li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

div.paragraph1 {
    background-color: wheat;
}

div.paragraph2 {
    background-color: powderblue;
}

div.paragraph3 {
    background-color: lightpink;
}

.page_top_btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    padding: 0.7em;
    text-align: center;
    background: #7f7f7f;
    color: #fff;
    transition: 0.3s0;
}

/* マウスオーバー時 */
.page_top_btn:hover {
    background: rgb(255, 0, 0, 0.8);
    color: rgb(255, 255, 255, 0.8);
}